---
eleventyComputed: metadata.title
layout: layouts/page.njk
title: About
eleventyNavigation:
  key: About
  order: 2
---

Welcome to my corner of the internet! This is a simple space where I journal my thoughts, explore ideas, and share reflections on everyday life, personal growth, and whatever else sparks my interest. Think of it as a digital diary, open to anyone who wants to read along.